        *{
            margin: 0px;
            padding: 0px;
        }
        html{
            scroll-behavior: smooth;
        }
        header {
            margin: 20px 0px;
        }
        header nav ul{
        /*list-style: none; /*Убирает точки у элементов списка*/
            display: flex; /*Все элементы встали в строку*/
            justify-content: center; /*Элементы стали вправо*/
        }
        header nav ul li{
            list-style: none; /*Убирает точки у элементов списка*/
            margin-right: 50px;
        }
        header nav ul li a{
            text-decoration: none;
            color:crimson;
            font-size: 20px;
            line-height: 20px;
            font-weight: bold;
            
            border: 2px solid #000;
            padding: 4px 4px;
            border-radius: 10px;
            display: block;
        }
        header nav ul li a:hover{
            /*background: linear-gradient(45deg, rgb(41,139,36) 0%, rgb(130, 77, 192) 100%);*/
            background: rgb(52, 168, 177);
            color: #fff;
            transition: all 1s;
        }
        header nav ul li a:active{
            background: rgb(17, 0, 255);
            border: 2px solid rgb(24, 185, 72);
        }
        .product-ball{
            display: flex;
            width: 600px;
            height: 100px;
            background-color: aquamarine;
            /*margin-left: 1000px;*/
        }
        .product-ball_info_title{
            display: flex;
            justify-content: space-between;
        }
        .product-ball_info{
            width: 100%;
        }
        .product-ball_info_buy{
            display: flex;
            justify-content: space-between;
            color:crimson;
            font-size: 20px;
            line-height: 20px;
            font-weight: bold;
            
            border: 2px solid #000;
            border-radius: 10px;
            padding: 4px 4px;

            margin: 45px 10px 5px 260px;
        }